#battleShipBlock{
    display: grid;
    grid-template-columns: repeat(10,40px);
    grid-template-rows: repeat(10,40px);
    grid-column-gap: 10px;
}
#enemy{
    display: grid;
    grid-template-columns: repeat(10,40px);
    grid-template-rows: repeat(10,40px);
    grid-column-gap: 10px;
}
