#singleBoard{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.blue{
    background-color: lightblue;
    border: 1px solid gray;
}

.mark{
    /* background-image: url('./images/check.png'); */
    /* 要换成中间有个黑点，我不太会 */
    background-color: yellow;
    border: 1px solid gray;
}

.cross{
    /* background-image: url('./images/cross.png'); */
    background-color: red;
    border: 1px solid gray;
}
.el{
    /* 要换成中间有个check，我不太会 */
    background-color: green;
    border: 1px solid gray;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
